\:root
	--color-facebook: #3b5998ff
	--color-facebook-half: #{lighten(#3b5998, 52.5%)}
	--color-whatsapp: #25d366ff
	--color-whatsapp-half: #{lighten(#25d366, 45%)}
	--color-instagram: #e1306cff
	--color-instagram-half: #{lighten(#e1306c, 42.5%)}
	--color-twitter: black
	--color-twitter-half: #{lighten(#1da1f2, 42.5%)}
	--color-linkedin: #0a66c2
	--color-linkedin-half: #{lighten(#0a66c2, 55%)}
	--color-youtube: #ff0000
	--color-youtube-half: #{lighten(#ff0000, 45%)}
	--color-tiktok: black
	--color-tiktok-half: #{lighten(#7ef4ee, 22.5%)}
	--color-pinterest: #e60023
	--color-pinterest-half: #{lighten(#e60023, 50%)}
	--color-telegram: #0088cc

html
	overflow-y: auto
	font-size: 18px

body
	margin: 0
	font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

input
	&[type="email"], &[type="tel"], &[type="url"]
		direction: ltr

svg
	fill: currentColor

img
	display: block