html.with-modal
	overflow-y: hidden

.object-fit-cover
	object-fit: cover
	image-rendering: -webkit-optimize-contrast
	image-rendering: crisp-edges
	width: 100%
	height: 100%
	transform: translate3d(0px, 0px, .1px)

.stroke-as-color svg
	stroke: currentColor

// fix for quill editor to have the headings select arrow on the by-dir end of the select, instead of always on the right end
.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg
	right: unset
	inset-inline-end: 0