div, section
	&.is-small
		max-width: min(45ch, 100%) !important
	&.is-small-mobile
		@include mobile
			max-width: min(45ch, 100%) !important
	&.is-medium
		max-width: min(60ch, 100%) !important
	&.is-large
		max-width: min(75ch, 100%) !important

.box
	&.p-0, &.paddingless
		.box-inner
			padding: $box-padding

.w-100
	width: 100%

.is-ltr
	direction: ltr

.is-overlay
	+overlay

.has-radius
	@include has-radius
.has-strong-radius
	@include has-strong-radius

.is-hidden-tiny
	display: none
	+not-tiny
		display: unset
.is-hidden-not-tiny
	+not-tiny
		display: none

.is-flex-gap-2-tablet
	+tablet
		gap: 0.5rem

.p-5-tablet
	+tablet
		padding: 1.5rem
.pb-5-mobile
	+mobile
		padding-bottom: 1.5rem

.mb-5-touch
	+touch
		margin-bottom: 1.5rem

.mb-5-mobile
	+mobile
		margin-bottom: 1.5rem
.mb-6-mobile
	+mobile
		margin-bottom: 3rem

.w-1-touch
	+touch
		width: 1rem

.has-text-wrap-ellipsis
	text-overflow: ellipsis
	white-space: nowrap
	overflow: hidden