$rtl: true

$size-75: 0.85rem
$size-8: 0.5rem
$size-9: 0.25rem

$primary: #00856F

// variable is exactly the same as the one in bulma/components/navbar.sass
// it's here because we want it to be available in the whole project
$navbar-height: 3.25rem