@mixin reset-anchors
	a, a:active, a:focus, a:hover
		color: $text
		text-decoration: none

@mixin not-tiny
	@include from(520px)
		@content

@mixin has-radius
	overflow: hidden
	border-radius: $radius
@mixin has-mid-radius
	overflow: hidden
	border-radius: 2 * $radius
@mixin has-strong-radius
	overflow: hidden
	border-radius: 4 * $radius