@import @styles/common

$windowHeight: calc(100vh - $navbar-height)

.fieldsContainer
	+desktop
		min-width: min(40%, 27rem)
		width: min-content
		height: $windowHeight

	.innerFieldsContainer
		min-height: 10rem
		overflow-y: auto
		max-height: 100%

	.compound-field
		padding: $size-8
		border: 2px solid white
		border-radius: $radius

		// extendeing bulma's .field
		&:not(:last-child)
			margin-bottom: 0.75rem

		.removeButton
			&:hover
				background-color: $danger
				color: white

details.details

	border-bottom: 2px solid white

	&[has-errors]
		background-color: $danger-light
	&:not([has-errors])
		background-color: #cbefdf

	summary
		padding: $size-5
		font-weight: bold
		font-size: calc($size-6 + 0.2rem)

		&:after
			inset-inline-end: $size-3
			font-size: 0.5rem

	.inner-container
		box-sizing: border-box
		padding: $size-8
		padding-right: $size-8
		padding-left: $size-8
		padding-bottom: $size-5
		+desktop
			padding-top: $size-6
			padding-right: $size-5
			padding-left: $size-5

.richTextContainer

	[class~="ql-toolbar"]
		border-top-left-radius: $radius
		border-top-right-radius: $radius
	[class~="ql-container"]
		border-bottom-left-radius: $radius
		border-bottom-right-radius: $radius
		overflow: hidden

	[class~="ql-toolbar"]
		span[class~="ql-formats"]
			margin-right: 0
			margin-inline-end: 15px
		button[type="button"], span[role="button"]
			&:hover
				[class~="ql-stroke"]
					stroke: $primary
				[class~="ql-fill"]
					fill: $primary
	[class~="ql-editor"]
		text-align: start
		background-color: white

.addButton
	&:hover
		background-color: $primary
		color: white

.previewContainer
	width: 100%
	height: $windowHeight

.imagePreviewContainer
	&:hover
		img
			opacity: 0.1
	img
		opacity: 0.25