@import @styles/common

$windowHeight: calc(100vh - $navbar-height - $size-7)
$primary-very-light: rgba(0, 149, 130, 0.1)

.fieldsContainer
	color: #4a4a4a

	summary a
		color: $primary
		&:hover
			color: inherit

	&:has(.innerFieldsContainer)
		+desktop
			min-width: min(40%, 27rem)
			width: min-content
			height: $windowHeight

		.innerFieldsContainer
			min-height: 10rem
			overflow-y: auto
			max-height: 100%
			padding: $size-7 $size-8 0
			+desktop
				// in reverse because of the scrollbar reversal
				padding-inline-start: $size-9

	details.details
		+has-mid-radius
		&:not(:last-child)
			margin-bottom: $size-7

	.compound-field, [class*="select"] select, input[class*="textarea"], input[class*="input"], button[class*="button"], [class*="ql-toolbar"][class*="ql-toolbar"], [class*="ql-container"]
		border-color: #a5d7cf
	input[class*="textarea"], [class*="ql-editor"]
		min-height: 8em
		max-height: 60vh

	[class*="ql-toolbar"]
		[class*="ql-formats"]
			display: inline-flex
		[class*="ql-picker-label"]
			font-size: 0.8rem

	.compound-field
		+has-radius
		padding: $size-7
		border-width: 2px
		border-style: solid

		&:hover
			background-color: $primary-very-light

		// extendeing bulma's .field
		&:not(:last-child)
			margin-bottom: $size-75

	[class*="label"]
		font-size: 1rem
		font-weight: unset
		&:not(:last-child)
			margin-bottom: $size-9
			margin-inline-start: 1px

	input[type="date"]
		&::-webkit-calendar-picker-indicator
			position: absolute
			inset-inline-end: $size-8

	.saveButtonContainer
		margin-inline-start: $size-8

		+touch
			padding-inline-end: $size-7
			padding-top: $size-5
			padding-bottom: $size-5

		button
			+desktop
				box-shadow: 0px 5px 50px 25px #ffffff

details.details

	&:hover
		background-color: $primary-very-light
	&[data-has-errors], &[data-has-other-errors]
		background-color: $danger-light

	summary
		+repeater-item-title

		&:after
			inset-inline-end: $size-6
			font-size: 0.5rem
			margin-top: -$size-9

	.inner-container
		box-sizing: border-box
		padding: $size-8
		padding-right: $size-7
		padding-left: $size-7
		padding-bottom: 0.85rem

.repeater-item-title
	+repeater-item-title
	+has-mid-radius
	&:hover
		background-color: $primary-very-light

.richTextContainer

	[class~="ql-toolbar"]
		border-top-left-radius: $radius
		border-top-right-radius: $radius
	[class~="ql-container"]
		border-bottom-left-radius: $radius
		border-bottom-right-radius: $radius
		overflow: hidden

	[class~="ql-toolbar"]
		span[class~="ql-formats"]
			margin-right: 0
			margin-inline-end: 15px
		button[type="button"], span[role="button"]
			&:hover
				[class~="ql-stroke"]
					stroke: $primary
				[class~="ql-fill"]
					fill: $primary
	[class~="ql-editor"]
		text-align: start
		background-color: white

.addButton
	&:hover
		background-color: $primary
		color: white

.previewContainer
	padding-top: $size-7
	padding-bottom: $size-7
	padding-inline-start: $size-8
	padding-inline-end: $size-9
	width: 100%
	height: $windowHeight
	+desktop
		padding-bottom: 0

	[class*="iframe-container"]
		+has-mid-radius
		border: 2px solid $primary

.imagePreviewContainer
	background-color: white

	&:hover
		img
			opacity: 0.1
	img
		opacity: 0.25