@import @styles/common
@import bulma/sass/components/modal

$breakpoint: 550px

.modal
	display: flex
	.modal-background
		background-color: var(--color-primary-700, var(--color-primary))
	.modal-content
		max-height: 100%
		max-width: 100%
		overflow: unset
		[class*="box"]
			border-radius: 0
		@include from($breakpoint)
			max-height: calc(100% - 2rem)
			max-width: calc(100% - 2rem)
			[class*="box"]
				border-radius: $radius

.raw-modal-inner
	padding-top: $size-6
	padding-bottom: $size-6
	+from($breakpoint)
		padding: 0