.select:not(.is-multiple):not(.is-loading):not(.specific-enough)::after
	border-color: $input-arrow

.is-size-8
	font-size: $size-8 !important
.is-size-8-touch
	+touch
		font-size: $size-8 !important
.is-size-9
	font-size: $size-9 !important

.has-text-start
	text-align: start
.has-text-end
	text-align: end
.has-text-end-tablet
	+tablet
		text-align: end

.field:not(:last-child)
	margin-bottom: $size-4

summary
	@extend .is-clickable

.buttons.has-addons .button
	border-radius: 0
	&:first-child:not(.is-rounded)
		border-start-start-radius: $radius
		border-end-start-radius: $radius
		&.is-small:not(.has-strong-radius)
			border-start-start-radius: 2px
			border-end-start-radius: 2px
	&:last-child:not(.is-rounded)
		border-start-end-radius: $radius
		border-end-end-radius: $radius
		&.is-small:not(.has-strong-radius)
			border-start-end-radius: 2px
			border-end-end-radius: 2px

.navbar
	.navbar-burger, .navbar-end
		margin-right: unset
		margin-inline-start: auto
	.navbar-link:not(.is-arrowless)
		padding-left: 0.75rem
		padding-inline-end: 2.5em
		&:after
			left: unset
			inset-inline-end: 1.3rem
	.navbar-dropdown
		right: unset
		.navbar-item
			padding-left: 1rem
			padding-inline-end: 3rem

.buttons.has-addons
	.button:not(:last-child)
		margin-left: unset
		margin-inline-end: -1px

.field.is-grouped > .control:not(:last-child)
	margin-left: unset
	margin-inline-end: 0.75rem
.select select:not([multiple])
	padding-left: calc(0.75em - 1px)
	padding-inline-end: 2.5rem
.select:not(.is-multiple):not(.is-loading):not(.specific-enough):after
	inset-inline-start: unset
	inset-inline-end: 1.125em
	border-color: $primary

.tags .tag:not(:last-child)
	margin-left: unset
	margin-inline-end: 0.5rem
.tag:not(body):not(.specific-enough) .delete
	margin-right: unset
	margin-left: unset
	margin-inline-start: 0.3rem
	margin-inline-end: -0.375rem

.reset-anchors
	@include reset-anchors

details.details

	&[open] > summary:after
		transform: rotate(135deg)

	summary
		position: relative
		display: block

		&:after
			@include arrow(black)

$spacing-values: ("0": 0, "1": 0.5rem, "2": 1rem, "3": 1.5rem, "4": 2rem, "5": 2.5rem, "6":3rem) !default
@each $name, $value in $spacing-values
	.is-flex-gap-#{$name}
		gap: $value !important

$spacing-shortcuts: ("margin": "m", "padding": "p") !default
$spacing-values: ("0": 0, "1": 0.25rem, "2": 0.5rem, "3": 0.75rem, "4": 1rem, "5": 1.5rem, "6": 3rem, "auto": auto) !default
$spacing-end-directions: ("start": "s", "end": "e")
@each $property, $shortcut in $spacing-shortcuts
	@each $name, $value in $spacing-values
		@each $direction, $suffix in $spacing-end-directions
			.#{$shortcut}#{$suffix}-#{$name}
				@if $direction == "start"
					@if $property == "margin"
						margin-inline-start: $value
					@else
						padding-inline-start: $value
				@if $direction == "end"
					@if $property == "margin"
						margin-inline-end: $value
					@else
						padding-inline-end: $value